extends layout

block content
    i.material-icons.w3-display-topleft.w3-margin-top.w3-margin-left(onclick="window.location.href='https://localhost/pics';",
    | style="cursor: pointer") arrow_back
    div.w3-margin-top.w3-display-topmiddle
        table.w3-table-all.w3-hoverable.w3-card-4.w3-centered
            tr
                th Дата и время
                td(colspan=2)
                    input#DateTime(type="datetime-local", class="w3-input", value=setts.DateTime, required)
            tr
                th Таймаут продажи (мин)
                td
                    input#timeout.w3-input.slider(type="range", min="1", max="5", value=setts.timeout, required)
                td
                    span#timeout-output= setts.timeout
            tr
                th Время до окончания торга (мин)
                td
                    input#allTime.w3-input.slider(type="range", min="40", max="120", value=setts.allTime, required)
                td
                    span#allTime-output= setts.allTime
            tr
                th Время на изучение информации (мин)
                td
                    input#researchPause.w3-input.slider(type="range", min="5", max="20", value=setts.researchPause, required)
                td
                    span#researchPause-output= setts.researchPause

        button#btn-save.w3-btn.w3-indigo.w3-large.w3-round-large.w3-margin-top(onclick="saveChanges()") Сохранить изменения

    link(rel='stylesheet', href='/stylesheets/auct_setts.min.css')
    script(src="/javascripts/auct_setts.min.js")