extends layout

block content
    i.w3-margin-left.w3-margin-top.w3-display-topleft.material-icons(
    | onclick="window.location.href='https://localhost/pics';", style="cursor: pointer") arrow_back

    div.w3-margin-top.w3-display-topmiddle
        table(class="w3-table-all w3-hoverable w3-card-4 w3-centered")
            tr.w3-blue
                th Индекс
                th Имя участника
                th Деньги
                th
            - for(var i = 0; i < members.length; i++) {
            tr.w3-hover-blue
                td= members[i].ind + 1
                td= members[i].name
                td.w3-hover-red(onclick=`getModalMoneyChanger('${members[i].name}',${members[i].money},${members[i].ind})`,
                | style="cursor: help")= members[i].money
                td
                    i.material-icons(onclick=`deleteMember(${members[i].ind})`, style="cursor: pointer") delete
            - }

    button.w3-display-topright.w3-margin-right.w3-indigo.w3-margin-top.w3-btn.w3-border.w3-round-xlarge(
    | onclick="document.getElementById('modal-inp').style.display='block'") Добавить участника

    div#modal-inp.w3-modal
        div.w3-modal-content.w3-card-4.w3-animate-zoom(style="max-width:600px")
            header.w3-container.w3-indigo
                span.w3-button.w3-display-topright(onclick="$('#modal-inp').css('display', 'none')") &times;
                h2.w3-center Изменение данных картины
            div.w3-container
                div.w3-section
                    label
                        b Участник
                    input#inp1.w3-input.w3-border.w3-margin-bottom(type="text", name="member", required)
                    label
                        b Запас денежных средств
                    input#inp2.w3-input.w3-border.w3-margin-bottom(type="number", name="money", required)
                    button#btn-accept1.w3-button.w3-block.w3-indigo.w3-section.w3-padding(onclick="addMember();") Добавить

    div#modal-change.w3-modal.w3-display-topright
        div.w3-modal-content.w3-card-4.w3-animate-zoom(style="max-width:600px")
            header.w3-container.w3-indigo
                span.w3-button.w3-display-topright(onclick="$('#modal-change').css('display', 'none')") &times;
                h2.w3-center Изменение данных картины
            div.w3-container
                div.w3-section
                    label
                        b Денежные средства
                    label
                        b#name
                        b#id
                    input#inp3.w3-input.w3-border.w3-margin-bottom(type="number", name="member", required)
                    button#btn-accept2.w3-button.w3-block.w3-indigo.w3-section.w3-padding(
                    | onclick=`changeMoney();`) Изменить

    script(src="/javascripts/members.js")